page-celebdetails {
  .back_body {
    color: #fff;
    background-color: #101010 !important;
  }

  .toolbar-background-ios {
    background: transparent !important;
    color: white;
  }
  .toolbar-background-md {
    border-color: transparent;
    background: transparent;
  }

  .toolbar-title-ios,
  .toolbar-title-md {
    color: #fff6f6 !important;
  }

  body {
    color: #4a4a4a;
    font-family: "mabry-regular", Arial, Sans-Serif;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.8;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .gsYlqHuubB3bKiaXdybMG {
    position: relative;
  }

  .nKH2Ay5_8OcQc4fDC9khO {
    background: hsl(0, 0%, 0%);
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .EATQkkICBCAT6KAHthwP3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .RIcfeSYPgTDy1q6DIiMfI {
    margin-bottom: 16px;
    z-index: 1;
  }

  ._3RXfN6MgkwLFnmLA9H885v {
    position: relative;
    background-color: #ddd;
    overflow: hidden;
  }

  ._26Cyk8jVB3VFDsopjfaQX_ {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  ._2cDIghBZTqp8rBDnylDMR0 {
    object-fit: cover;
  }

  ._4AwGuTOoaE3KvdCzM0IW4 {
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0) 109.04%,
      rgba(0, 0, 0, 0.2) 0
    );
  }

  .col-xs-12 {
    width: 100%;
  }

  ._3vgnc9uRX1wN9h_fIg0POV {
    min-height: 20px;
  }

  ._1XSAVfR8BnS2uCy4gIZTKa {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  ._1XSAVfR8BnS2uCy4gIZTKa > :first-child {
    margin-top: 24px;
  }

  ._2Z0PSwZfTdOUBdzZSYaVtg {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .bnneWJ {
    display: grid;
    max-width: 84rem;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 0 auto 4rem;
  }

  .kpxkpI {
    padding: 0 2rem;
  }
  .iUWoWP {
    display: none;
  }

  .jJsjCV {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 1.5rem;
  }

  .eLiuwI {
    border-radius: 0.5rem;
    background-color: #1c1c1c;
    padding: 2.5rem 4rem;
    width: 100%;
  }

  .kXaxpN {
    font-family: "cerebri", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    -webkit-letter-spacing: -0.01rem;
    -moz-letter-spacing: -0.01rem;
    -ms-letter-spacing: -0.01rem;
    letter-spacing: -0.01rem;
    line-height: 2.2rem;
    color: #ff037c;
    margin-bottom: 2.5rem;
  }

  .fztJUt {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .kSXjrI {
    font-family: "cerebri", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 10rem;
  }

  .kSXjrI svg {
    margin-bottom: 1.5rem;
  }

  .eLiuwI {
    border-radius: 0.5rem;
    background-color: #1c1c1c;
    padding: 2.5rem 4rem;
    width: 100%;
  }

  .bEGhPY {
    font-family: "cerebri", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    -webkit-letter-spacing: -0.01rem;
    -moz-letter-spacing: -0.01rem;
    -ms-letter-spacing: -0.01rem;
    letter-spacing: -0.01rem;
    line-height: 2.2rem;
    color: #45ffff;
    margin-bottom: 1.5rem;
  }

  .hwOttR {
    font-family: "cerebri", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    color: #ffffff;
    margin-bottom: 0.75rem;
  }

  .kFCGrs {
    font-family: "cerebri", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    color: #adaeb5;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    /* position: relative; */
    /* min-height: 1px; */
    /* padding-right: 15px; */
    padding-left: 15px;
  }

  ._1286CwHo9eYBPKh7vli0w3 {
    margin-right: -10px !important;
    margin-left: -10px !important;
    margin-bottom: 8px;
  }

  .col-xs-6 {
    width: 50%;
  }
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    float: left;
  }

  ._3ADAu0ndpjVCbaFTM3WOTK {
    margin-bottom: 20px;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  ._3yEJGdKwGboMQH4nTumQvk {
    font-family: cerebri, Helvetica, sans-serif;
    position: relative;
    background-color: transparent;
    background-clip: content-box;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    height: 100%;
  }

  ._1lesImzbM1n7vM34r-I6Fz {
    height: 195px;
    border-radius: 0.6rem;
    background-clip: content-box;
    background: #64f6ff;
    background-color: #eaebfa;
    display: block;
    padding-top: 118.18182%;
    position: relative;
    overflow: hidden;
  }

  ._23q9pGXd0r6H_hVobAqktx {
    border-radius: 0.6rem;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 1;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.1));
  }

  ._1LFprSjZw0gn6LQn4Gl-Nb {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  ._3mtcb48FcTN_lCYFUo8sv_ {
    z-index: 2;
    position: absolute;
    top: 0.5rem;
    right: 5px;
  }

  ._1Vx1MsN7oW62rZaRzXTdpo {
    z-index: 2;
    color: #ffff;
    font-family: system-ui, cerebri, serif;
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: -0.28px;
    line-height: 1.8rem;
    min-width: 4rem;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0.5rem;
  }

  .XPdBo9MAZefkKbmAjpa86 {
    padding: 0.5rem 0.5rem 0.6rem 0;
  }

  ._3z47DGIMGOtJrGd4zWYwcE {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.028rem;
    line-height: 1.9rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
  }

  ._1J8AbI-6QDiBEQKqrMFUb0 {
    color: #a0a2b5;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.28px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 0.4rem;
  }

  a {
    text-decoration: none;
  }

  ._1p9HZWNDWBGf-g54_h-aJJ * :not(._1BVzr-ZXuZYLCkGiRT7sVm):not(i) {
    font-family: cerebri, Helvetica, sans-serif;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    float: left;
  }

  .sMKV2sUQ1s5zZM-hy58vx h1 {
    color: #fff;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cxXyJnMDB7PImsK4KIxN9 {
    margin-top: 0;
    width: 60%;
    margin-right: 0;
  }

  .cxXyJnMDB7PImsK4KIxN9 {
    display: inline-block;
    margin: 24px 15px 0 0;
    vertical-align: middle;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.1;
  }
  .h1,
  h1 {
    font-size: 36px;
  }

  ._2ZXvkARLlJYs-NjFeCS7Wq {
    margin-bottom: 12px;
  }

  ._2ZXvkARLlJYs-NjFeCS7Wq span {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }

  ._3lJhxHN8NKVSs1tV5SK1P7 {
    margin-bottom: 30px;
    margin-right: 10%;
    margin-left: 0%;
  }

  ._1IGSWDjJ9GOmW_RlFAVh1f {
    padding: 1.5rem 0;
    display: inline-block;
  }

  a._38_8C57cIJTQmZLgux7V_O,
  button._38_8C57cIJTQmZLgux7V_O,
  span.EaQncWGZk2cT57-1sAK3y {
    min-width: 205px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .btn {
    background: transparent;
    font-family: spinnler, Courier, monospace;
    text-transform: uppercase;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
  }
  .btn-primary {
    position: relative;
  }
  .btn-primary {
    color: #fff;
    background-color: #fa005c !important;
    padding-left: 21px;
    padding-right: 21px;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  a._38_8C57cIJTQmZLgux7V_O,
  button._38_8C57cIJTQmZLgux7V_O,
  span.EaQncWGZk2cT57-1sAK3y {
    min-width: 205px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .btn-primary:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    transition: background 0.5s, opacity 1s;
  }

  ._1DTBkcnvwE6oXsnVl8xt5D {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
  }

  .gvgJ2l-Qvsw_Lli17CHba {
    display: inline;
    margin: 0 0 0 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
  }

  ._2M_ZRpgvGVhccFgSWPQCLV {
    padding: 24px 15px 0;
  }

  ._2M_ZRpgvGVhccFgSWPQCLV a {
    margin: 0 12px 12px 0;
  }
  .eQ0K3oRiiCfr0wwX03hSZ {
    display: inline-block;
  }

  .eQ0K3oRiiCfr0wwX03hSZ span._1NwMJ1RoI6T2ExNDSc_dwY {
    box-sizing: border-box;
    display: inline-block;
    background-color: #f7f7f7;
    color: #4d4d4d;
    padding: 0 12px;
    letter-spacing: 0.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }

  .direct_row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -30%;
    margin-bottom: 0%;
  }

  .column_div {
    // background-color: #5dba47;
    width: 94%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 100%;
    background-color: #101010;
    z-index: 10;
  }

  .border {
    margin-top: 10%;
    margin-bottom: 20%;
  }

  #round {
    // background: url(https://res.cloudinary.com/sahanana/image/upload/v1591884686/Serapty-Reev/Subpost_2_-_I_am_BLACK__black_heart__800_X_640_jmr2sj.jpg);
    // border-radius: 50%;
    // width: 60%;
    // height: 65%;
    // border-color: #45ffff;
    // margin-top: -24%;
    // text-align: center;
    // margin-left: 18%;
    // border: 6px solid #45ffff;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // background-size: contain;

    // position: absolute;
    // overflow: hidden;
    // object-fit: cover;
    // border-radius: 9rem;
    // opacity: 1;
    // transition: opacity 216ms ease-in 0s;
    // display: flex;
    // -webkit-box-pack: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // align-items: center;
    // width: 100%;
    // height: 100%;
  }

  .round_image {
    object-fit: cover;
    border-radius: 14%;
    width: 50%;
    border-color: #45ffff;
    margin-top: -24%;
    text-align: center;
    margin-left: 0%;
    border: 6px solid #45ffff;
  }
}
