<ion-content id="modal">
  <ion-header>
    <ion-navbar>
      <p id="moveHeader" text-wrap>Upload Video</p>
      <ion-buttons end>
        <button ion-button icon-only (tap)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <!-- <div class="direct_service_row">
  
    <div class="column3">
      <div class="border" tappable (tap)="presentActionSheet()()">
        <ion-icon name="videocam"></ion-icon>

        <figcaption>
          <p id="txtcolor" text-wrap>Select Video</p>
        </figcaption>
      </div>
    </div>
  </div> -->
  <div class="video-selection" *ngIf="!selectedVideo">
    <p>Please select a video for upload from your gallery</p>
    <button ion-button (click)="selectVideo()">Select Video</button>
  </div>

  <div class="video-section" *ngIf="selectedVideo">
    <video controls [src]="selectedVideo"></video>

    <div class="button-options" *ngIf="!uploadedVideo && !isUploading">
      <button ion-button clear (click)="cancelSelection()">
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </button>
      <button ion-button clear (click)="uploadVideo()">
        <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
      </button>
    </div>

    <div *ngIf="isUploading">
      <div class="uploading">
        <p><ion-spinner name="bubbles"></ion-spinner></p>
        <p>Uploading - {{ uploadPercent }}% Complete</p>
      </div>
      <div class="button-options">
        <button ion-button clear (click)="cancelUpload()">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </button>
      </div>
    </div>

    <div class="button-options" *ngIf="uploadedVideo">
      <button ion-button clear (click)="cancelSelection()">Start Over</button>
    </div>
  </div>
</ion-content>
