page-contact {
  //   .back_body {
  //     color: #fff;
  //     background-color: #101010 !important;
  //   }

  figcaption {
    margin-bottom: 20%;
    margin-top: 20%;
  }

  .background {
    background-image: -webkit-linear-gradient(260deg, #eb8d21 40%, #000 0%);
  }

  .direct_row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30%;
    margin-bottom: 0%;
  }

  .column_div {
    // background-color: #5dba47;
    width: 94%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 100%;
    background-color: #1c1c1c;
    z-index: 10;
  }

  .direct_row2 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -16%;
    margin-bottom: 0%;
    text-align: center;
    margin-left: 7%;
  }

  .column6 {
    width: 37%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    border: 0.2px solid #45ffff;
    margin-left: 4%;
    margin-bottom: 4%;
    height: 100px;
    background-color: transparent;
    z-index: 10;
    color: white;
  }

  .border {
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .round_image {
    object-fit: cover;
    border-radius: 14%;
    width: 40%;
    border-color: #45ffff;
    margin-top: -20%;
    text-align: center;
    margin-left: 0%;
    border: 6px solid #45ffff;
  }

  .toolbar-background-ios {
    background: transparent !important;
    color: white;
  }
  .toolbar-background-md {
    border-color: transparent;
    background: transparent;
  }

  #textprof {
    color: white;
    font-weight: 500;
  }

  #textprof2 {
    color: white;
    font-weight: 100;
  }

  .textline {
    line-height: 0.1;
  }

  ion-icon {
    display: inline-block;
    font-size: 1.7em;
  }
}
