page-celebdash {
  ion-header {
    z-index: 1 !important;
  }

  ion-content {
    margin-top: -20% !important;
  }

  .background {
    background-image: -webkit-linear-gradient(0deg, #1c1c1c 70%, #45ffff 30%);
    height: 200px;
    color: white;
  }

  .activi {
    margin: 20px;
  }
  .amount_color {
    color: green !important;
    font-weight: 900;
    margin: 13px;
  }

  .amount_color2 {
    color: red !important;
    font-weight: 900;
    margin: 13px;
  }

  .card-md {
    border-radius: 12px !important;
  }

  .card-ios {
    border-radius: 12px !important;
  }

  #currency {
    font-size: 30px;
  }
  .align-col {
    text-align: left;
    line-height: 1;
    margin: 23px;
  }

  .align-img {
    margin-left: 30%;
    margin-top: 20%;
    width: 40%;
  }

  .fboldness {
    font-weight: 900;
    color: white;
  }

  .item-md .item-button {
    height: 33px;
    font-size: 1.2rem;
    padding: 17px !important;
    text-transform: none !important;
  }

  .imgclass {
    width: 50%;
    height: 50%;
    margin: 20px;
  }

  .cardtext {
    margin: 21px;
    color: white;
  }

  .scroll-content {
    margin-bottom: 0px !important;
  }

  .item-ios,
  .item-md {
    color: #fff;
    background-color: #000;
  }

  .card-ios,
  .card-md {
    background: #000;
  }

  .content-ios,
  .content-md {
    color: white;
    background-color: #1c1c1c;
  }

  .round_image {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    width: 150%;
    border-color: #000000;
    margin-top: -20%;
    text-align: center;
    margin-left: 0%;
    border: 2px solid #090a0a;
    background-color: transparent;
  }
  ion-icon {
    display: inline-block;
    font-size: 4.2em;
    color: black;
  }

  #icon-color {
    color: wheat;
  }

  .card-ios p {
    color: white;
  }

  .card-md p {
    color: white;
  }

  sub,
  sup {
    position: relative;
    font-size: 1.9rem !important;
    line-height: 0;
    vertical-align: baseline;
  }

  .ion-page {
    background: #1c1c1c !important;
  }
}
